In [23]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [24]:
engine = create_engine('postgresql+psycopg2://postgres:sudhanvasud@localhost/postgres')

# Print the table names
print(engine.table_names())

['answers', 'ar_internal_metadata', 'assignment_groups', 'assignments', 'batch_students', 'batches', 'chat_rooms', 'code_play_backs', 'comments', 'courses', 'editor_settings', 'favourites', 'forks', 'friendly_id_slugs', 'list_assignments', 'lists', 'messages', 'notification_types', 'notifications', 'permissions', 'practice_students', 'practices', 'questions', 'read_questions', 'roles', 'schema_migrations', 'sections', 'solutions', 'student_courses', 'student_logs', 'students', 'submission_timers', 'submissions', 'taggings', 'tags', 'test_cases', 'users', 'videos']

In [25]:
table_columns = {}
df_all = {}

for table in engine.table_names():
    df = pd.read_sql(table, engine)
    df_all[table] = df
    table_columns[table] = list(df.columns)

In [26]:
# df_table_columns = pd.DataFrame(dict([(k, pd.Series(v)) for k,v in table_columns.items()])).fillna("")
# df_table_columns.to_csv('../assets/table_columns.csv', index=False)

In [27]:
df_all.keys()

dict_keys(['answers', 'ar_internal_metadata', 'assignment_groups', 'assignments', 'batch_students', 'batches', 'chat_rooms', 'code_play_backs', 'comments', 'courses', 'editor_settings', 'favourites', 'forks', 'friendly_id_slugs', 'list_assignments', 'lists', 'messages', 'notification_types', 'notifications', 'permissions', 'practice_students', 'practices', 'questions', 'read_questions', 'roles', 'schema_migrations', 'sections', 'solutions', 'student_courses', 'student_logs', 'students', 'submission_timers', 'submissions', 'taggings', 'tags', 'test_cases', 'users', 'videos'])

In [45]:
df = df_all['students'] \
    .merge(df_all['student_courses'], left_on='id', right_on='student_id') \
    .merge(df_all['batch_students'], left_on='student_id', right_on='student_id') \
    .merge(df_all['assignment_groups'], left_on='batch_id', right_on='batch_id') \
#     .merge(df_all['list_assignments'], left_on='')
df

,id_x,name,email,mobile,created_at_x,updated_at_x,id_y,student_id,course_id,created_at_y,...,points,id_y,title,created_at_y,updated_at_y,due_datetime,allow_points,notes,view_solutions,is_timed
0,2,test,ani@dctacademy.com,9740411771,2017-12-25 14:40:50.845534,2017-12-25 14:40:50.845534,2,2,1,2017-12-25 14:40:50.848456,...,0,1,Assignment Group 1,2017-12-25 15:31:43.688997,2017-12-25 15:31:43.688997,2017-12-25 15:30:00,True,None,False,False
1,2,test,ani@dctacademy.com,9740411771,2017-12-25 14:40:50.845534,2017-12-25 14:40:50.845534,2,2,1,2017-12-25 14:40:50.848456,...,0,2,SET 1,2018-01-10 10:28:45.135052,2018-01-10 10:28:45.135052,2018-01-10 10:28:00,True,None,False,False
2,2,test,ani@dctacademy.com,9740411771,2017-12-25 14:40:50.845534,2017-12-25 14:40:50.845534,2,2,1,2017-12-25 14:40:50.848456,...,0,3,SET 1,2018-01-10 10:31:14.902710,2018-01-10 10:31:14.902710,2018-01-10 10:28:00,True,None,False,False
3,12,Aditya Nagar\t,snagar270@gmail.com,8805454869,2018-01-10 10:27:02.018533,2018-01-10 10:27:02.018533,12,12,1,2018-01-10 10:27:02.021845,...,0,1,Assignment Group 1,2017-12-25 15:31:43.688997,2017-12-25 15:31:43.688997,2017-12-25 15:30:00,True,None,False,False
4,12,Aditya Nagar\t,snagar270@gmail.com,8805454869,2018-01-10 10:27:02.018533,2018-01-10 10:27:02.018533,12,12,1,2018-01-10 10:27:02.021845,...,0,2,SET 1,2018-01-10 10:28:45.135052,2018-01-10 10:28:45.135052,2018-01-10 10:28:00,True,None,False,False
5,12,Aditya Nagar\t,snagar270@gmail.com,8805454869,2018-01-10 10:27:02.018533,2018-01-10 10:27:02.018533,12,12,1,2018-01-10 10:27:02.021845,...,0,3,SET 1,2018-01-10 10:31:14.902710,2018-01-10 10:31:14.902710,2018-01-10 10:28:00,True,None,False,False
6,13,Teja Kumar Reddy,tejalevaku@gmail.com,9676711341,2018-01-10 10:27:38.258167,2018-01-10 10:27:38.258167,13,13,1,2018-01-10 10:27:38.260500,...,0,1,Assignment Group 1,2017-12-25 15:31:43.688997,2017-12-25 15:31:43.688997,2017-12-25 15:30:00,True,None,False,False
7,13,Teja Kumar Reddy,tejalevaku@gmail.com,9676711341,2018-01-10 10:27:38.258167,2018-01-10 10:27:38.258167,13,13,1,2018-01-10 10:27:38.260500,...,0,2,SET 1,2018-01-10 10:28:45.135052,2018-01-10 10:28:45.135052,2018-01-10 10:28:00,True,None,False,False
8,13,Teja Kumar Reddy,tejalevaku@gmail.com,9676711341,2018-01-10 10:27:38.258167,2018-01-10 10:27:38.258167,13,13,1,2018-01-10 10:27:38.260500,...,0,3,SET 1,2018-01-10 10:31:14.902710,2018-01-10 10:31:14.902710,2018-01-10 10:28:00,True,None,False,False
9,9,Asif Pasha,asifpashasdl@gmail.com,8553678527,2018-01-10 10:24:50.914068,2018-01-11 08:04:03.421194,9,9,1,2018-01-10 10:24:50.918605,...,0,1,Assignment Group 1,2017-12-25 15:31:43.688997,2017-12-25 15:31:43.688997,2017-12-25 15:30:00,True,None,False,False
10,9,Asif Pasha,asifpashasdl@gmail.com,8553678527,2018-01-10 10:24:50.914068,2018-01-11 08:04:03.421194,9,9,1,2018-01-10 10:24:50.918605,...,0,2,SET 1,2018-01-10 10:28:45.135052,2018-01-10 10:28:45.135052,2018-01-10 10:28:00,True,None,False,False
11,9,Asif Pasha,asifpashasdl@gmail.com,8553678527,2018-01-10 10:24:50.914068,2018-01-11 08:04:03.421194,9,9,1,2018-01-10 10:24:50.918605,...,0,3,SET 1,2018-01-10 10:31:14.902710,2018-01-10 10:31:14.902710,2018-01-10 10:28:00,True,None,False,False
12,10,Shivkumara M\t,shivasorab@gmail.com,9731937369,2018-01-10 10:25:16.790846,2018-01-11 08:04:46.138561,10,10,1,2018-01-10 10:25:16.793752,...,0,1,Assignment Group 1,2017-12-25 15:31:43.688997,2017-12-25 15:31:43.688997,2017-12-25 15:30:00,True,None,False,False
13,10,Shivkumara M\t,shivasorab@gmail.com,9731937369,2018-01-10 10:25:16.790846,2018-01-11 08:04:46.138561,10,10,1,2018-01-10 10:25:16.793752,...,0,2,SET 1,2018-01-10 10:28:45.135052,2018-01-10 10:28:45.135052,2018-01-10 10:28:00,True,None,False,False
14,10,Shivkumara M\t,shivasorab@gmail.com,9731937369,2018-01-10 10:25:16.790846,2018-01-11 08:04:46.138561,10,10,1,2018-01-10 10:25:16.793752,...,0,3,SET 1,2018-01-10 10:31:14.902710,2018-01-10 10:31:14.902710,2018-01-10 10:28:00,True,None,False,False
15,11,Sujith Kumar Reddy\t,sujithlevaku@gmail.com,9912343257,2018-01-10 10:26:32.266123,2018-01-11 08:04:58.258647,11,11,1,2018-01-10 10:26:32.269567,...,0,1,Assignment Group 1,2017-12-25 15:31:43.688997,2017-12-25 15:31:43.688997,2017-12-25 15:30:00,True,None,False,False
16,11,Sujith Kumar Reddy\t,sujithlevaku@gmail.com,9912343257,2018-01-10 10:26:32.266123,2018-01-11 08:04:58.258647,11,11,1,2018-01-10 10:26:32.269567,...,0,2,SET 1,2018-01-10 10:28:45.135052,2018-01-10 10:28:45.135052,2018-01-10 10:28:00,True,None,False,False
17,11,Sujith Kumar Reddy\t,sujithlevaku@gmail.com,9912343257,2018-01-10 10:26:32.266123,2018-01-11 08:04:58.258647,11,11,1,2018-01-10 10:26:32.269567,...,0,3,SET 1,2018-01-10 10:31:14.902710,2018-01-10 10:31:14.902710,2018-01-10 10:28:00,True,None,False,False
18,12,Aditya Nagar\t,snagar270@gmail.com,8805454869,2018-01-10 10:27:02.018533,2018-01-10 10:27:02.018533,12,12,1,2018-01-10 10:27:02.021845,...,0,4,SET 1,2018-01-10 10:32:22.275780,2018-01-10 10:32:22.275780,2018-01-10 14:30:00,True,None,False,False
19,13,Teja Kumar Reddy,tejalevaku@gmail.com,9676711341,2018-01-10 10:27:38.258167,2018-01-10 10:27:38.258167,13,13,1,2018-01-10 10:27:38.260500,...,0,4,SET 1,2018-01-10 10:32:22.275780,2018-01-10 10:32:22.275780,2018-01-10 14:30:00,True,None,False,False
20,9,Asif Pasha,asifpashasdl@gmail.com,8553678527,2018-01-10 10:24:50.914068,2018-01-11 08:04:03.421194,9,9,1,2018-01-10 10:24:50.918605,...,0,4,SET 1,2018-01-10 10:32:22.275780,2018-01-10 10:32:22.275780,2018-01-10 14:30:00,True,None,False,False
21,10,Shivkumara M\t,shivasorab@gmail.com,9731937369,2018-01-10 10:25:16.790846,2018-01-11 08:04:46.138561,10,10,1,2018-01-10 10:25:16.793752,...,0,4,SET 1,2018-01-10 10:32:22.275780,2018-01-10 10:32:22.275780,2018-01-10 14:30:00,True,None,False,False
22,11,Sujith Kumar Reddy\t,sujithlevaku@gmail.com,9912343257,2018-01-10 10:26:32.266123,2018-01-11 08:04:58.258647,11,11,1,2018-01-10 10:26:32.269567,...,0,4,SET 1,2018-01-10 10:32:22.275780,2018-01-10 10:32:22.275780,2018-01-10 14:30:00,True,None,False,False
23,12,Aditya Nagar\t,snagar270@gmail.com,8805454869,2018-01-10 10:27:02.018533,2018-01-10 10:27:02.018533,12,12,1,2018-01-10 10:27:02.021845,...,0,8,Ruby Set 1,2018-01-19 10:32:56.208551,2018-01-26 03:37:52.963142,2018-01-20 04:30:00,False,"<p>Treat the questions to be ruby questions, t...",True,True
24,11,Sujith Kumar Reddy\t,sujithlevaku@gmail.com,9912343257,2018-01-10 10:26:32.266123,2018-01-11 08:04:58.258647,11,11,1,2018-01-10 10:26:32.269567,...,0,8,Ruby Set 1,2018-01-19 10:32:56.208551,2018-01-26 03:37:52.963142,2018-01-20 04:30:00,False,"<p>Treat the questions to be ruby questions, t...",True,True
25,18,Keerthana DC,keerthanakishore09@gmail.com,8977519424,2018-01-17 10:11:00.115919,2018-01-17 10:11:00.115919,18,18,1,2018-01-17 10:11:00.118814,...,0,8,Ruby Set 1,2018-01-19 10:32:56.208551,2018-01-26 03:37:52.963142,2018-01-20 04:30:00,False,"<p>Treat the questions to be ruby questions, t...",True,True
26,21,Hasan Ali,hasanfarhanascii@gmail.com,9448804242,2018-01-17 10:52:43.683426,2018-01-17 10:52:43.683426,21,21,1,2018-01-17 10:52:43.686150,...,0,8,Ruby Set 1,2018-01-19 10:32:56.208551,2018-01-26 03:37:52.963142,2018-01-20 04:30:00,False,"<p>Treat the questions to be ruby questions, t...",True,True
27,11,Sujith Kumar Reddy\t,sujithlevaku@gmail.com,9912343257,2018-01-10 10:26:32.266123,2018-01-11 08:04:58.258647,11,11,1,2018-01-10 10:26:32.269567,...,0,7,SET 1,2018-01-17 10:14:08.859132,2018-01-17 12:09:17.021994,2018-01-18 14:30:00,False,,True,True
28,14,Indrajit,indrajitnaiya09@gmail.com,9036524919,2018-01-16 11:18:46.985732,2018-01-16 11:18:46.985732,14,14,1,2018-01-16 11:18:46.990092,...,0,7,SET 1,2018-01-17 10:14:08.859132,2018-01-17 12:09:17.021994,2018-01-18 14:30:00,False,,True,True
29,15,Pradeep Kumar Reddy,pradeepgopireddy456@gmail.com,9740506805,2018-01-16 11:19:20.354066,2018-01-16 11:19:20.354066,15,15,1,2018-01-16 11:19:20.356582,...,0,7,SET 1,2018-01-17 10:14:08.859132,2018-01-17 12:09:17.021994,2018-01-18 14:30:00,False,,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,26,Ravi D L,ravi.daasari@gmail.com,9945371612,2018-03-22 00:52:50.892055,2018-03-22 00:52:50.892055,26,26,1,2018-03-22 00:52:50.893258,...,0,16,Pre Course Exercises Set 1,2018-03-22 01:04:51.549488,2018-03-22 08:06:00.678991,2018-03-25 17:30:00,False,,False,False
837,26,Ravi D L,ravi.daasari@gmail.com,9945371612,2018-03-22 00:52:50.892055,2018-03-22 00:52:50.892055,26,26,1,2018-03-22 00:52:50.893258,...,0,17,Array Exercise SET 1,2018-03-27 11:17:36.446839,2018-03-27 11:18:12.720693,2018-03-27 17:30:00,False,,False,False
838,26,Ravi D L,ravi.daasari@gmail.com,9945371612,2018-03-22 00:52:50.892055,2018-03-22 00:52:50.892055,26,26,1,2018-03-22 00:52:50.893258,...,0,18,Hash Exercise Set 1,2018-03-28 11:25:39.351980,2018-03-28 11:25:39.351980,2018-03-28 17:30:00,False,,False,False
839,26,Ravi D L,ravi.daasari@gmail.com,9945371612,2018-03-22 00:52:50.892055,2018-03-22 00:52:50.892055,26,26,1,2018-03-22 00:52:50.893258,...,0,19,Weekend Assignment Set 1,2018-03-31 01:56:39.491481,2018-03-31 01:56:39.491481,2018-04-01 17:30:00,False,,False,False
840,26,Ravi D L,ravi.daasari@gmail.com,9945371612,2018-03-22 00:52:50.892055,2018-03-22 00:52:50.892055,26,26,1,2018-03-22 00:52:50.893258,...,0,20,Array - Hash Assignment,2018-04-02 11:12:00.318503,2018-04-02 11:12:00.318503,2018-04-02 17:30:00,False,<p>You will have to define a method and pass t...,False,False
841,26,Ravi D L,ravi.daasari@gmail.com,9945371612,2018-03-22 00:52:50.892055,2018-03-22 00:52:50.892055,26,26,1,2018-03-22 00:52:50.893258,...,0,21,Class Approach,2018-04-04 12:47:14.148804,2018-04-04 12:47:49.303451,2018-04-04 18:29:00,False,<p>This program needs to be solved using a cla...,False,False
842,27,Sugama Suhasini K,sugamak244@gmail.com,7204217976,2018-03-22 00:53:24.048312,2018-03-22 00:53:24.048312,27,27,1,2018-03-22 00:53:24.049497,...,0,16,Pre Course Exercises Set 1,2018-03-22 01:04:51.549488,2018-03-22 08:06:00.678991,2018-03-25 17:30:00,False,,False,False
843,27,Sugama Suhasini K,sugamak244@gmail.com,7204217976,2018-03-22 00:53:24.048312,2018-03-22 00:53:24.048312,27,27,1,2018-03-22 00:53:24.049497,...,0,17,Array Exercise SET 1,2018-03-27 11:17:36.446839,2018-03-27 11:18:12.720693,2018-03-27 17:30:00,False,,False,False
844,27,Sugama Suhasini K,sugamak244@gmail.com,7204217976,2018-03-22 00:53:24.048312,2018-03-22 00:53:24.048312,27,27,1,2018-03-22 00:53:24.049497,...,0,18,Hash Exercise Set 1,2018-03-28 11:25:39.351980,2018-03-28 11:25:39.351980,2018-03-28 17:30:00,False,,False,False
845,27,Sugama Suhasini K,sugamak244@gmail.com,7204217976,2018-03-22 00:53:24.048312,2018-03-22 00:53:24.048312,27,27,1,2018-03-22 00:53:24.049497,...,0,19,Weekend Assignment Set 1,2018-03-31 01:56:39.491481,2018-03-31 01:56:39.491481,2018-04-01 17:30:00,False,,False,False
846,27,Sugama Suhasini K,sugamak244@gmail.com,7204217976,2018-03-22 00:53:24.048312,2018-03-22 00:53:24.048312,27,27,1,2018-03-22 00:53:24.049497,...,0,20,Array - Hash Assignment,2018-04-02 11:12:00.318503,2018-04-02 11:12:00.318503,2018-04-02 17:30:00,False,<p>You will have to define a method and pass t...,False,False
847,27,Sugama Suhasini K,sugamak244@gmail.com,7204217976,2018-03-22 00:53:24.048312,2018-03-22 00:53:24.048312,27,27,1,2018-03-22 00:53:24.049497,...,0,21,Class Approach,2018-04-04 12:47:14.148804,2018-04-04 12:47:49.303451,2018-04-04 18:29:00,False,<p>This program needs to be solved using a cla...,False,False
848,28,Sushma D S,sushmadssuresh@gmail.com,9242424775,2018-03-22 00:53:52.483794,2018-03-22 00:53:52.483794,28,28,1,2018-03-22 00:53:52.484967,...,0,16,Pre Course Exercises Set 1,2018-03-22 01:04:51.549488,2018-03-22 08:06:00.678991,2018-03-25 17:30:00,False,,False,False
849,28,Sushma D S,sushmadssuresh@gmail.com,9242424775,2018-03-22 00:53:52.483794,2018-03-22 00:53:52.483794,28,28,1,2018-03-22 00:53:52.484967,...,0,17,Array Exercise SET 1,2018-03-27 11:17:36.446839,2018-03-27 11:18:12.720693,2018-03-27 17:30:00,False,,False,False
850,28,Sushma D S,sushmadssuresh@gmail.com,9242424775,2018-03-22 00:53:52.483794,2018-03-22 00:53:52.483794,28,28,1,2018-03-22 00:53:52.484967,...,0,18,Hash Exercise Set 1,2018-03-28 11:25:39.351980,2018-03-28 11:25:39.351980,2018-03-28 17:30:00,False,,False,False
851,28,Sushma D S,sushmadssuresh@gmail.com,9242424775,2018-03-22 00:53:52.483794,2018-03-22 00:53:52.483794,28,28,1,2018-03-22 00:53:52.484967,...,0,19,Weekend Assignment Set 1,2018-03-31 01:56:39.491481,2018-03-31 01:56:39.491481,2018-04-01 17:30:00,False,,False,False
852,28,Sushma D S,sushmadssuresh@gmail.com,9242424775,2018-03-22 00:53:52.483794,2018-03-22 00:53:52.483794,28,28,1,2018-03-22 00:53:52.484967,...,0,20,Array - Hash Assignment,2018-04-02 11:12:00.318503,2018-04-02 11:12:00.318503,2018-04-02 17:30:00,False,<p>You will have to define a method and pass t...,False,False
853,28,Sushma D S,sushmadssuresh@gmail.com,9242424775,2018-03-22 00:53:52.483794,2018-03-22 00:53:52.483794,28,28,1,2018-03-22 00:53:52.484967,...,0,21,Class Approach,2018-04-04 12:47:14.148804,2018-04-04 12:47:49.303451,2018-04-04 18:29:00,False,<p>This program needs to be solved using a cla...,False,False
854,29,Urvashi Raj,urvashiraj18@gmail.com,7259337138,2018-03-22 00:54:20.753736,2018-03-22 00:54:20.753736,29,29,1,2018-03-22 00:54:20.754880,...,0,16,Pre Course Exercises Set 1,2018-03-22 01:04:51.549488,2018-03-22 08:06:00.678991,2018-03-25 17:30:00,False,,False,False
855,29,Urvashi Raj,urvashiraj18@gmail.com,7259337138,2018-03-22 00:54:20.753736,2018-03-22 00:54:20.753736,29,29,1,2018-03-22 00:54:20.754880,...,0,17,Array Exercise SET 1,2018-03-27 11:17:36.446839,2018-03-27 11:18:12.720693,2018-03-27 17:30:00,False,,False,False
856,29,Urvashi Raj,urvashiraj18@gmail.com,7259337138,2018-03-22 00:54:20.753736,2018-03-22 00:54:20.753736,29,29,1,2018-03-22 00:54:20.754880,...,0,18,Hash Exercise Set 1,2018-03-28 11:25:39.351980,2018-03-28 11:25:39.351980,2018-03-28 17:30:00,False,,False,False
857,29,Urvashi Raj,urvashiraj18@gmail.com,7259337138,2018-03-22 00:54:20.753736,2018-03-22 00:54:20.753736,29,29,1,2018-03-22 00:54:20.754880,...,0,19,Weekend Assignment Set 1,2018-03-31 01:56:39.491481,2018-03-31 01:56:39.491481,2018-04-01 17:30:00,False,,False,False
858,29,Urvashi Raj,urvashiraj18@gmail.com,7259337138,2018-03-22 00:54:20.753736,2018-03-22 00:54:20.753736,29,29,1,2018-03-22 00:54:20.754880,...,0,20,Array - Hash Assignment,2018-04-02 11:12:00.318503,2018-04-02 11:12:00.318503,2018-04-02 17:30:00,False,<p>You will have to define a method and pass t...,False,False
859,29,Urvashi Raj,urvashiraj18@gmail.com,7259337138,2018-03-22 00:54:20.753736,2018-03-22 00:54:20.753736,29,29,1,2018-03-22 00:54:20.754880,...,0,21,Class Approach,2018-04-04 12:47:14.148804,2018-04-04 12:47:49.303451,2018-04-04 18:29:00,False,<p>This program needs to be solved using a cla...,False,False
860,26,Ravi D L,ravi.daasari@gmail.com,9945371612,2018-03-22 00:52:50.892055,2018-03-22 00:52:50.892055,26,26,1,2018-03-22 00:52:50.893258,...,0,24,PREP TEST,2018-05-05 11:33:39.715176,2018-05-05 11:33:39.715176,2018-05-05 11:33:00,False,,False,False
861,26,Ravi D L,ravi.daasari@gmail.com,9945371612,2018-03-22 00:52:50.892055,2018-03-22 00:52:50.892055,26,26,1,2018-03-22 00:52:50.893258,...,0,25,PREP TEST,2018-05-05 11:37:49.056025,2018-05-05 11:37:49.056025,2018-05-05 11:37:00,False,,False,False
862,26,Ravi D L,ravi.daasari@gmail.com,9945371612,2018-03-22 00:52:50.892055,2018-03-22 00:52:50.892055,26,26,1,2018-03-22 00:52:50.893258,...,0,29,Test,2018-05-21 16:12:39.252604,2018-05-21 16:12:39.252604,2018-05-31 18:30:00,True,,False,False
863,27,Sugama Suhasini K,sugamak244@gmail.com,7204217976,2018-03-22 00:53:24.048312,2018-03-22 00:53:24.048312,27,27,1,2018-03-22 00:53:24.049497,...,0,29,Test,2018-05-21 16:12:39.252604,2018-05-21 16:12:39.252604,2018-05-31 18:30:00,True,,False,False
864,31,Ani,contact@dctacademy.com,9999999999,2018-05-23 04:44:43.200863,2018-05-23 04:44:43.200863,31,31,2,2018-05-23 04:44:43.202803,...,0,31,Pre Course Assignment SET 1,2018-05-23 04:56:53.150192,2018-05-23 05:20:03.848068,2018-06-01 17:30:00,False,,True,False
865,38,Harish BN,harishbn31@gmail.com,7899193782,2018-05-29 06:26:04.576979,2018-05-29 06:26:04.576979,38,38,2,2018-05-29 06:26:09.305308,...,0,31,Pre Course Assignment SET 1,2018-05-23 04:56:53.150192,2018-05-23 05:20:03.848068,2018-06-01 17:30:00,False,,True,False